<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProjects</servlet-name>
        <servlet-class>controller.GetProjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProject</servlet-name>
        <servlet-class>controller.ViewProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>controller.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFarmersList</servlet-name>
        <servlet-class>controller.GetFarmersList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFarmerProfile</servlet-name>
        <servlet-class>controller.ViewFarmerProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewOwnerMobile</servlet-name>
        <servlet-class>controller.mobile.CreateNewOwnerMobile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOwnerMobile</servlet-name>
        <servlet-class>controller.mobile.EditOwnerMobile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFarmDetails</servlet-name>
        <servlet-class>controller.GetFarmDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFarmerDetails</servlet-name>
        <servlet-class>controller.ViewFarmerDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProject</servlet-name>
        <servlet-class>controller.CreateProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewFarmMobile</servlet-name>
        <servlet-class>controller.mobile.CreateNewFarmMobile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFarmDetailsMobile</servlet-name>
        <servlet-class>controller.mobile.EditFarmDetailsMobile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUsernameAvailability</servlet-name>
        <servlet-class>controller.mobile.CheckUsernameAvailability</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFarmInfo</servlet-name>
        <servlet-class>controller.ViewFarmInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProjects</servlet-name>
        <url-pattern>/GetProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProject</servlet-name>
        <url-pattern>/ViewProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFarmersList</servlet-name>
        <url-pattern>/GetFarmersList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFarmerProfile</servlet-name>
        <url-pattern>/ViewFarmerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewOwnerMobile</servlet-name>
        <url-pattern>/CreateNewOwnerMobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOwnerMobile</servlet-name>
        <url-pattern>/EditOwnerMobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFarmDetails</servlet-name>
        <url-pattern>/GetFarmDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFarmerDetails</servlet-name>
        <url-pattern>/ViewFarmerDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProject</servlet-name>
        <url-pattern>/CreateProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewFarmMobile</servlet-name>
        <url-pattern>/CreateNewFarmMobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFarmDetailsMobile</servlet-name>
        <url-pattern>/EditFarmDetailsMobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUsernameAvailability</servlet-name>
        <url-pattern>/CheckUsernameAvailability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFarmInfo</servlet-name>
        <url-pattern>/ViewFarmInfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
